@import "node_modules/bulma/sass/utilities/initial-variables";

$box-radius: 0;

@import "node_modules/bulma/bulma";
@import "node_modules/bulma-slider/slider";

body > .ember-view:not(.ember-tether) {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 0 auto;
}

footer.box {
  padding: .5rem;
}

.player {
  .level-left {

    @include tablet {
    }
  }

  .level-right {
    @include tablet {
      order: -1;
      flex-grow: 1;
      margin-right: 1.5rem;
    }
  }

  &__progress,  {
    flex-grow: 2!important;
  }

  &__volume {
    align-items: center;
  }

  &__track {
    min-width: 250px;
    max-width: 250px;
  }

  &__queue {
    position: absolute;
    bottom: 70px;
    right: 0px;
    width: 360px;
    height: 480px;
  }
}

.card.ember-popover {
  padding: 0;

  // .card-content {
  //   padding: 0;
  // }
}

.queue__track {
  height: 48px;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  cursor: pointer;

  & > .media {
    align-items: center;
    flex-grow: 1;
  }

  &--current, &:hover {
    background-color: $light;
  }
}
