@import "node_modules/bulma/bulma";
@import "node_modules/bulma-divider/divider";
@import 'slider';

body > .ember-view {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 0 auto;
  margin-top: 20px;
}

footer.box {
  border-radius: 0;
  padding: .5rem 0;
}

.player {
  .level-left {
    flex-grow: 1;
    margin-right: 1.5rem
  }

  &__progress,  {
    flex-grow: 1;
  }

  &__volume {
    align-items: center;
  }

  &__track {
    min-width: 300px;
    max-width: 300px;
  }
}

.saga-tile {
  @extend .tile;
  @extend .is-child;
  @extend .notification;
    
  cursor: pointer;
}


.saga-list {
  display: grid;
  grid-gap: .75rem;

  $colors: danger, success, warning, light, info, dark, primary;

  @for $i from 1 through 10 {
    $color: nth($colors, ($i % length($colors)) + 1);

    .saga-tile:nth-child(#{$i}) {
      @extend .is-#{$color};
    }
  }
}

@media (min-width: $tablet) { 
  .saga-list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 150px);

    grid-template-areas:  "a b c"
                          "d e f"
                          "g e f"
                          "h h f"
                          "i j j";

    $areas: a, b, c, d, e, f, g, h, i, j;

    @for $i from 1 through length($areas) {
      $area: nth($areas, $i);

      .saga-tile:nth-child(#{$i}) {
        grid-area: $area;
      }
    }
  }
}
