$low: 0%;
$high: 50%;

$sizes-map : (
  small: 4px,
  medium: 12px,
  large: 16px,
);

.input[type=range] {
  $radius: 290486px;

  $height: 8px;

  .is-fullwidth {
    width: 100%;
  }

  border: none;
  border-radius: $radius;
  display: block;
  height: $height;
  padding: 0;
  margin: 0;

  @each $name, $size in $sizes-map {
    .is-#{$name} {
      height: $size,
    }
  }

  // width: 100%;
  cursor: pointer;
  outline: none;
  background: $border;
  -webkit-tap-highlight-color: transparent;

  &:focus {
    outline: none;
  }

  // http://stackoverflow.com/questions/18794026/remove-dotted-outline-from-range-input-element-in-firefox
  &::-moz-focus-outer {
    border: none;
  }

  &::-webkit-slider-runnable-track,
  &::-webkit-slider-thumb,
  & {
    -moz-appearance: none;
    -webkit-appearance: none;
  }

  @mixin thumb-base {
    border-radius: 50%;
    height: ($height * 2.33);
    width: ($height * 2.33);
    background-color: $white;
    border: ($height / 2) solid $text;
    box-shadow: 0 2px 3px rgba(17, 17, 17, 0.1);
    transform: translateZ(0);
    transition: (0.233s / 2) ease-in-out;
    box-sizing: border-box;

    &:hover {
      transform: scale(1.25)
    }
  }

  @mixin thumb-base-active() {
    cursor: grabbing;
  }

  @mixin track($color) {
    // display: flex;
    // align-items: center;
    // height: $height;
    // border-radius: $radius;
    // $track-background: linear-gradient(to right, transparent $low, $color 0%, $color $high, transparent 0%) no-repeat 0 100%;
    // // $track-background: linear-gradient(to right, transparent $low, $color 0%, $text $high, transparent 0%) no-repeat 0 100%;
    // background: $track-background;
    // transform: translateZ(0);
    // transition: (0.233s / 2);
  }

  &::-webkit-slider-thumb {
   @include thumb-base;

    &:active {
     @include thumb-base-active;
    }
  }

  // &::-webkit-slider-runnable-track {
  //  @include track;
  // }

  &::-moz-range-thumb {
   @include thumb-base;

    &:active {
     @include thumb-base-active;
    }
  }

  &::-moz-range-progress:focus {
    outline: 0;
    border: 0;
  }

  &::-moz-range-track {
    background: transparent;
  }

  &::-moz-range-progress {
    display: flex;
    align-items: center;
    width: 100%;
    height: $height;
    border-radius: $radius;
    background-color: $text;
  }

  &::-ms-thumb {
   @include thumb-base;

    &:active {
     @include thumb-base-active;
    }
  }

  &::-ms-tooltip {
    display: none;
  }

  // Colors
  @each $name, $pair in $colors {
    $color: nth($pair, 1);

    &.is-#{$name} {
      &::-webkit-slider-thumb {
        border-color: $color;
      }

      &::-webkit-slider-runnable-track, &::-webkit-slider-runnable-track {
        @include track($color);
        // border-radius: $radius;
        // $track-background: linear-gradient(to right, transparent $low, $color 0%, $color $high, transparent 0%) no-repeat 0 100%;
        // background: $track-background;
      }

      // http://www.quirksmode.org/blog/archives/2015/11/styling_and_scr.html
      &::-moz-range-thumb {
        border-color: $color;
      }

      &::-moz-range-progress {
        background-color: $color;
      }

      &::-ms-thumb {
        border-color: $color;
      }

      &::-ms-fill-lower {
        background-color: $color;
      }
    }
  }

  &[orient=vertical] {
    writing-mode: bt-lr;

    // IE
    -webkit-appearance: slider-vertical;

    // webkit
    height: 200px;
    width: $height;
    -webkit-transform-origin: 0 0;
    position: relative;
    top: 0;
    left: 0;

    // Colors
    @each $name, $pair in $colors {
      $color: nth($pair, 1);

      &.is-#{$name} {
        &::-webkit-slider-thumb {
          &:after {
            width: 50px;
            height: 50px;
            background-color: red;
            border: 2px solid $color;
            content: '';
            position: absolute;
            z-index: 233;
          }
        }

        &::-webkit-slider-runnable-track {
          display: block;
          $track-background: linear-gradient(to top, transparent $low, $color 0, $color $high, transparent 0) no-repeat 0 100%;
          background: $track-background;
        }
      }
    }
  }
}

.input[type=range]:disabled {
  &::-webkit-slider-thumb {
    border-color: $input-disabled-background-color !important;
    &:after {
      border-color: $input-disabled-background-color !important;
    }
  }
}