<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        {{#link-to 'application' }}Netophonix player{{/link-to}}
      </h1>
    </div>
  </div>
</section>

<section class="main">
  <div class="container">
    {{outlet}}
  </div>
</section>

<footer class="box">
  <div class="container">
    {{player-controls}}
  </div>
</footer>
